.background{
	background-attachment: fixed;
	background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-image:url("/assets/img/landing.jpg");*/
	background-image:
	linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.05)),
	url('/assets/img/landing.jpg');
}

.main{
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
	overflow-y: auto;
}

.main-title{
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: #fff;
	text-transform: uppercase;
}
.main-title h1{
	margin: 0px
}

h1.sangria{
	margin-left: 15%!important;
}
