<div class="main background">
  <div class="container">
    <div class="row">
      <div class="col s12" class="main-title">
        <h1>Planea tu viaje </h1>
        <h1 class="sangria">con nosotros</h1>
      </div>

      <div class="col s12">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a class="active" href="#vuelos">Vuelos</a></li>
              <li class="tab col s3"><a href="#hoteles">Hoteles </a></li>
            </ul>
          </div>
          <div id="vuelos" class="col s12">
            <app-tabvuelos></app-tabvuelos>
          </div>
          <div id="hoteles" class="col s12">Hoteles</div>
        </div>
      </div>
    </div>
  </div>
</div>
