<div class="row">
  <!-- SELECTOR SECTION -->
  <form class="col s12" autocomplete="off"  #vueloForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">

        <div class="col s12 row-radio-btn">
          <p *ngFor="let radioBtn of arrayCatTiposVuelos">
            <label>
              <input class="with-gap" name="groupType" type="radio" [value]="radioBtn.type" [(ngModel)]="model.tipo"/>
              <span>{{ radioBtn.display }}</span>
            </label>
          </p>
        </div>

        <div class="input-field col s6 l3 xl2">
          <i class="fa fa-plane prefix" aria-hidden="true"></i>
          <input id="input_salida" type="text" class="autocomplete" autocomplete="off"
          [(ngModel)]="model.salida" name="salida" #salida="ngModel" required>
          <label for="input_salida">Salida</label>
        </div>
        <div class="input-field col s6 l3 xl2">
          <i class="fa fa-plane fa-flip-horizontal prefix inverse-icon" aria-hidden="true"></i>
          <input id="input_destino" type="text" class="autocomplete" autocomplete="off"
          [(ngModel)]="model.destino" name="destino" #destino="ngModel" required>
          <label for="input_destino">Destino</label>
        </div>
        <div class="input-field col s6 l3 xl3">
          <i class="fa fa-plane fa fa-calendar-plus-o prefix" aria-hidden="true"></i>
          <input id="picket_salida" type="text" class="datepicker" required>
          <label for="picket_salida">Fecha Salida</label>
        </div>
        <div class="input-field col s6 l3 xl3">
          <i class="fa fa-plane fa fa-calendar-plus-o prefix" aria-hidden="true"></i>
          <input id="picket_regreso" type="text" class="datepicker" required>
          <label for="picket_regreso">Fecha Regreso</label>
        </div>
        <div class="input-field col s12  xl2">
          <i class="fa fa-plane fa fa-user-o prefix" aria-hidden="true"></i>
          <input id="input_pasajeros" type="number"
          [(ngModel)]="model.pasajeros" name="pasajeros" #pasajeros="ngModel" required>
          <label for="input_pasajeros">Pasajeros</label>
        </div>
        <div class="col s6 ">
          <a>Opciones avanzadas</a>
        </div>
        <div class="col s6 right-align">
          <button class="btn waves-effect waves-light" type="submit" [disabled]="!vueloForm.form.valid">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>

  </form>
</div>
