<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Hola seleccionaste los valores</span>
        <p>Tipo : {{model.tipo}}</p>
        <p>Salida :{{model.salida}} </p>
        <p>Destino : {{model.destino}}</p>
        <p>Fecha Salida : {{model.fecha_salida | fechas}}</p>
        <p>Fecha Regreso : {{model.fecha_regreso | fechas}}</p>
        <p>Pasajeros : {{model.pasajeros}}</p>
      </div>
      <div class="card-action">

      </div>
    </div>
  </div>
</div>
