/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Lato', sans-serif;
}
a{
  color:#fff;
}
.container{
  width : 80%!important;
}
.row-radio-btn{
  display: inline-flex;
  text-transform: uppercase;
}
.row-radio-btn p{
  margin-right: 10px;
}

.inverse-icon{
  padding-left: 1rem;
}

/*
  TABS
*/
.tabs{
  background-color : transparent;
  border-bottom: 1px solid #ffdc00;
}

.tabs .tab a{
	color: #fff;
}
.tabs .tab a:hover, .tabs .tab a.active{
	color: #fff;
  font-weight: bold;
}

.tabs .indicator{
	background-color: #ffdc00;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
  background-color: rgba(255, 220, 0, 0.2);
}

/*
  INPUT - CUSTOM
*/

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid  #ffdc00;
  -webkit-box-shadow: 0 1px 0 0  #ffdc00;
          box-shadow: 0 1px 0 0  #ffdc00;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color:  #ffdc00;
}
.input-field .prefix.active{
	color:  #ffdc00 !important;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background-color:  #ffdc00;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
    border: 2px solid  #ffdc00;
}

[type="radio"]:not(:checked) + span, [type="radio"]:checked + span{
  color: #FFF;
}

.input-field.col .prefix ~ label, .input-field.col .prefix ~ .validate ~ label{
  color: #FFF;
}

/* BUTTONS */

.btn, .btn-large, .btn-small{
  background-color : #ffdc00;
}

.btn:hover, .btn-large:hover, .btn-small:hover{
  background-color : #ffed7f;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #b29a00!important;
}
